.content {
}

.content-margin {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right:auto;
}

.login-content {
    width: 40%;
    margin-top: 10%;
    margin-left: auto;
    margin-right:auto;
}

td.livre {
}
td.livre:hover {
    background-color: #5bc0de;
    cursor: pointer;
}

td.reservado {
}
td.reservado:hover {
    background-color: #f0ad4e;
    cursor: pointer;
}